<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      .heading{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 .5rem;
    padding-top: 6rem;
    box-shadow: 0 .2rem .05rem rgba(0, 0, 0, .3);
}

.heading span{
    display: inline-block;
    font-size: 3.5rem;
    color: var(--red);
    padding: 1rem 0;
    box-shadow: 0 .2rem .05rem var(--red);
}

header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
}

header .header-1 .logo{
    font-size: 2.5rem;
    color: var(--red);
}

header .header-1 .call{
    font-size: 2rem;
    color: #666;
}

header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #22252D;
    padding: .5rem;
    position: relative;
    z-index: 10;
}

header .header-2 .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .header-2 .navbar ul li{
    margin: 1rem;
}

header .header-2 .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}
header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color: #ff5722;
}

header .header-2 .share a{
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
}

header .header-2 .share a:hover{
    color: #ff5722;
}

header .header-2 #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
    margin: 1rem;
}

header .header-2.header-active{
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.3);
}

    </style>
</head>
<body>
                {{!-- <div class="navbar" id="navOne">
                    <ul class="logo"> 
                        <li><img src="eatery_logo_resized.png"></li>
                    </ul>
                    <ul>
                        <li><a class = "active" href="#">HOME</a></li>
                        <li><a href="#aboutpageID">ABOUT US</a></li>
                        <li><a href="#">MENU</a></li>
                        <li><a href="#team">TEAM</a></li>
                        <li><a href="#gallery">GALLERY</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="register">RESERVATION</a></li>
                        <li class="ReserveNavbarText"><a href="#">CONTACT US</a></li>
                    </ul>
                </div> --}}

     <header>
        <div class="header-1">
            <a href="#" class="logo"><i class="fas fa-utensils"></i>      The Eatery</a>
            <h3 class="call"><i class="fas fa-phone"></i>call now: +91 7011184384</h3>
        </div>

        <div class="header-2">

            <div id="menu" class="fas fa-hamburger"></div>

            <nav class="navbar">
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#chef">Team</a></li>
                    <li><a href="#Rpage">Reservation</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#speciality">Speciality</a></li>
                    <li><a href="#newsletterL">Contact Us</a></li>
                </ul>
            </nav>

            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
    </header>
</body>
</html>